.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  z-index: 100;
  overflow: hidden;
}

.dropdown > * + * {
  border-top: 0.1rem solid var(--muted);
}

.label > :first-child {
  display: flex;
  align-items: center;
  user-select: none;
}

.icon {
  width: 2rem;
  transition: all 250ms ease-in-out;
}

.iconRotate {
  transform: rotate(-180deg);
}

.open {
  animation: fadeIn 250ms ease-in-out forwards;
}

.close {
  animation: fadeOut 250ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
