.wrapper {
  padding: 3.8rem 7rem;
  background-color: var(--main);
  position: relative;
  overflow-x: hidden;
}

.heroThumb {
  position: absolute;
  right: 0;
  top: 0;
  width: 60vw;
  height: 90vh;
  object-fit: cover;
  transform: translateX(50%);

  animation: fade 400ms ease forwards;
  animation-fill-mode: forwards;
}

.heroBlur {
  content: "";
  position: absolute;
  right: 30vw;
  top: 0;

  width: 20rem;
  height: 90vh;
  transform: translateX(40%);

  background: var(--main);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(4, 4, 7, 1) 20%,
    rgba(4, 4, 7, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 10;
}

.title {
  font-size: 5rem;
  font-weight: 900;
  color: var(--inverted);

  text-transform: uppercase;
}

.pipeEntity {
  margin: -0.2rem 0.5rem;
  width: 0.1rem;
  background: var(--accent);
}

.detailsWrapper {
  padding-top: 1rem;
  color: var(--secondary);
}

/* Space between detailsFlex */
.detailsWrapper > * + * {
  padding-top: 2.5rem;
}

.detailsFlex {
  display: flex;
  max-width: 45vw;
  line-height: 1.4;
}

.detailsTitle {
  width: 6rem;
  flex: none;

  color: var(--inverted);
  font-size: 1.2rem;
}

.readMore {
  padding-top: 0.8rem;
  display: block;
  color: var(--accent);
  text-decoration: none;
}

.trailerThumbWrapper {
  display: flex;
  gap: 2rem;
  max-width: 80vw;
  overflow-x: scroll;
}

.trailerThumb {
  border-radius: 0.4rem;
}

.ctaWrapper {
  position: absolute;
  top: 80vh;
  right: 14vw;
  z-index: 20;
  width: 20vw;
}

.ctaBtn {
  display: flex;
  align-items: center;
  color: var(--inverted);
  background: none;
  border: none;
  letter-spacing: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}

.ctaBtn:hover,
.ctaBtn:focus {
  opacity: 0.5;
}

.watchBtn {
  font-size: 1.2rem;
  text-shadow: 0 0 4px var(--accent);
}

.ctaIcon {
  margin-right: 1.5rem;
  display: inline-block;
  color: var(--accent);
  border-radius: 9999px;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.watchBtnIcon {
  width: 3rem;
  height: 3rem;
}

.watchListBtn {
  font-size: 0.8rem;
}

.watchListIcon {
  width: 2rem;
  height: 2rem;
}

.zIndex10 {
  z-index: 10;
}

.footer {
  padding-top: 10rem;
  display: flex;
  gap: 1rem;
}

.footerLink {
  color: var(--accent);
  text-decoration: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.playerShow {
  display: block;
}
.playerHide {
  display: none;
}

@media only screen and (max-width: 786px) {
  .br,
  .heroThumb,
  .heroBlur,
  .ctaWrapper {
    display: none;
  }

  .wrapper {
    /* used in player for calculating width */
    --px: 1rem;
    padding: 0 var(--px);
    padding-top: 5.875rem;
  }

  .title {
    font-size: 0.875rem;
    font-weight: normal;
    text-transform: capitalize;
  }

  .playerHide {
    display: block;
  }

  .detailsFlex {
    gap: 0.5rem;
    flex-direction: column;
    max-width: unset;

    font-size: 0.9rem;
    text-align: justify;
  }

  .trailerThumbWrapper {
    max-width: unset;
  }

  .zIndex10 {
    z-index: unset;
  }
}
