.wrapper {
  padding: 1rem;
  padding-left: 5rem;
  gap: 0rem;

  display: flex;
  align-items: center;

  color: var(--secondary);
}

.baseBtn {
  display: none;
}

.logo {
  background: rgb(177, 83, 80);
  background: linear-gradient(
    90deg,
    hsl(2, 38%, 40%) 0%,
    hsl(2, 38%, 60%) 50%,
    hsl(235, 7%, 30%) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  font-size: 4.5vw;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.link {
  max-width: 50vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--accent-muted);
  font-size: 1.125rem;
}

.linkItem {
  color: var(--accent-muted);
}

.linkItem:hover {
  color: var(--secondary);
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-left: 1rem;
  }

  .baseBtn {
    display: block;
    width: 1.4rem;
  }

  .logo {
    flex: 1;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .link {
    --x: -100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
    padding-top: 3rem;

    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--muted);

    transform: translateX(var(--x));
    z-index: 10;
  }

  .linkItem {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .xBtn {
    position: absolute;
    top: 0;
    right: 0;

    margin: 2rem;
    width: 4rem;
    height: 4rem;
  }
}
