.title {
  padding-top: 2rem;
  text-align: center;
}

.searchWrapper {
  margin: 0 auto;
  padding-top: 2rem;
  gap: 0.2rem;

  display: flex;
  max-width: 60vw;
}

.searchInput {
  padding: 1rem;

  flex: 1;
  background: var(--accent-muted);
  border: none;

  color: var(--inverted);
}

.searchBtn {
  padding: 1rem;

  border: none;
  background: var(--accent);

  color: var(--inverted);
}

.languageLabel {
  padding: 1rem;

  background: var(--accent-muted);
  color: var(--inverted);
}

.languageOption {
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;

  background: var(--accent-muted);
}

.languageOption > input[type='checkbox'] {
  margin: 0;
  width: 1em;
  height: 1em;
}

/* movie grid */
.movieGrid {
  padding: 0 1rem;
  padding-top: 4rem;
  row-gap: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.movieGridItem {
  position: relative;
  display: block;
}

/* Page Controls */
.pageControlWrapper {
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 4rem;

  display: flex;
  max-width: 17rem;
  justify-content: space-between;
  align-items: center;
}

.pageControlBtn {
  padding: 0.25rem 1rem;

  background: var(--accent-muted);
  border: none;
  border-radius: 5px;

  color: var(--inverted);

  cursor: pointer;
}

/* error */
.error {
  padding-top: 3rem;
}

@media only screen and (max-width: 786px) {
  .searchWrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
